.header {
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.252);
    width: 100%;
    max-height: 100px;
    padding: 5px 50px;
}

.logo-image-desktop {
    width: 220px;
}
.search-bar {
    max-width: none;
    height: 30px;
    width: 90%;
    display: none;
}

.search-bar-input {
    width: 50%;
    border-radius: 50px 0 0 50px;
    border: none;
    padding: 0 15px;
    font-size: 12px;
}

.search-bar-input:focus {
    outline: 1px solid var(--primary-color);
}

.search-bar-btn {
    outline: 1px solid var(--primary-color);
    border-radius: 0 50px 50px 0;
    border: none;
    width: 150px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.search-bar-btn:hover {
    background-color: var(--primary-hover-color);
    outline: 1px solid var(--primary-hover-color);
}

.search-bar-btn:focus {
    background-color: #fff;
    color: var(--primary-color);
}

.search-btn {
    padding: 0;
    width: 35px;
    height: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(33, 27, 16, 0.254);
    transition: 0.2s;
}

.search-btn:focus {
    background-color: var(--secondary-color);
    transform: translate(1px, 1px);
    box-shadow: none;
} 

.search-btn-icon {
    fill: white;
}

.search-btn-icon svg {
    width: 40px;
}

.desktop-user-avatar {
    display: none;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.347);
}

.home-icon path{
    stroke-width: 50px;
    stroke: white;
}

@media (min-width: 768px) {
    .header {
        flex-wrap: nowrap;
        padding: 10px 20px;
        gap: 20px;
    }

    .left-content {
        width: auto;
        flex-grow: 1;
        gap: 20px;
    }

    .logo-image-desktop {
        width: 60px;
        height: 60px;
        display: inherit;
    }

    .search-bar {
        width: 100%;
        max-width: 600px;
        height: 42px;
    }

    .search-bar-input {
        padding: 0 20px;
        font-size: 14px;
    }

    .search-bar-btn {
        font-size: 14px;
    }

}

@media (min-width: 1000px) {
    .logo-image-desktop {
        width: 340px;
        height: 70px;
        display: inherit;
    }

    .search-btn {
        display: none;
    }

    .search-bar {
        max-width: 60%;
        display: flex;
        align-content: center;
        align-self: center;
    }

    .desktop-user-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        background: #ccc;
        border-radius: 50%;
    }
}