.home-container {
    background-color: #faf3e0;
    max-width: 100vw;
}

.home-container .content {
    display: flex;
    width: 70%;
}

.home-container .hamburgers {
    height: 178px;
    margin-top: 1px;
    
}

.home-container .comida {
    height: 178px;
    margin-left: 59px;
    margin-top: 1px;
    width: 20%;
}

.home-container .pudim {
    height: 187px;
    margin-left: 70px;
    margin-top: 1px;
    width: 20%;
}

.home-container .cha {
    height: 178px;
    margin-left: 74px;
    width: 20%;
}

.home-container .bolo {
    height: 178px;
    margin-left: 95px;
    margin-top: 1px;
    width: 20%;
}

.home-container .text-wrapper {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    top: 240px;
}

.home-container .nav {
    box-shadow: 0px 4px 4px #00000040;
    height: 114px;
    width: 100%;
}

.home-container .tipo {
    background-color: #f77f00;
    border-radius: 0px 200px 200px 0px;
    height: 42px;
    left: 697px;
    position: absolute;
    top: 0;
    width: 195px;
}

.home-container .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    top: 5px;
    width: 177px;
}
.home-container .mask-group {
    height: 392px;
    width: 80%;
}