
.home-container {
    background-color: #faf3e0;
    width: 100%;
    height: 100vh;
}

.home-container .text-wrapper {
    color: #2b2520f5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    top: 240px;
    width: 70%;
    justify-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.surprise-banner-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (min-width: 1024px) {
    .mobile-user-avatar {
        display: none;
    }
}