.user-avatar{
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 20px;
    right: 10px;
    border: transparent;
    outline: none;
    border-radius: 50%;
    cursor: pointer;

    padding: 0;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-avata-icon svg{
    width: 100px;
    border-radius: 50%;
}

.user-avatar svg path {
    background-color: white;
    border-radius: 50%;
}

.user-avata-icon:hover {
    cursor: pointer;
    fill: var(--secondary-hover-color);
}

@media (min-width: 1024px) {
    .user-avatar {
        position: inherit;
    }
    
    .user-avatar svg path{
        background-color: white;
    }
}