/* frontend-app/src/components/layout/CategoryBar.css */
.category-bar-container {
  background-color: #ff914d; /* Mesma cor laranja da Navbar */
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.category-bar-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
}

.category-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.category-button:hover {
  background-color: #e57e41; /* Laranja mais escuro no hover */
  border-radius: 5px;
}