.frame {
  background-color: #ffffff;
  width: 100%;
  min-width: 2077px;
  height: 1599px;
  position: relative;
}

.frame .rectangle {
  position: absolute;
  top: 366px;
  left: 100px;
  width: 1120px;
  height: 588px;
  background-color: #d9d9d9;
}

.frame .line {
  top: 366px;
  left: 1290px;
  height: 1035px;
  position: absolute;
  width: 1px;
  object-fit: cover;
}

.frame .text-wrapper {
  position: absolute;
  top: 366px;
  left: 1499px;
  width: 322px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #f77f00;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: absolute;
  top: 895px;
  left: 1433px;
  width: 447px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #f77f00;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .lorem-lorem-lorem {
  position: absolute;
  top: 462px;
  left: 1357px;
  width: 617px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .ellipse {
  top: 479px;
  position: absolute;
  left: 1340px;
  width: 8px;
  height: 7px;
}

.frame .img {
  top: 586px;
  position: absolute;
  left: 1340px;
  width: 8px;
  height: 7px;
}

.frame .ellipse-2 {
  top: 552px;
  position: absolute;
  left: 1340px;
  width: 8px;
  height: 7px;
}

.frame .ellipse-3 {
  top: 514px;
  position: absolute;
  left: 1340px;
  width: 8px;
  height: 7px;
}

.frame .lorem-ipsum-dolor {
  position: absolute;
  top: 982px;
  left: 1314px;
  width: 632px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: absolute;
  top: 982px;
  left: 100px;
  width: 1120px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 280px;
  left: 100px;
  width: 1096px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #f77f00;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rating {
  position: absolute;
  top: 309px;
  left: 1132px;
  width: 95px;
  height: 39px;
  display: flex;
  gap: 0.8px;
}

.frame .star {
  margin-top: 5px;
  width: 31.99px;
  height: 30.75px;
  margin-left: 0.8px;
}

.frame .text-wrapper-3 {
  width: 59.36px;
  height: 39px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2a8b8f;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .nav {
  position: absolute;
  top: 100px;
  left: 74px;
  width: 1926px;
  height: 114px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame .rectangle-2 {
  width: 1920px;
  height: 114px;
  background-color: #f77f00;
  border: 0px none;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 67px;
  left: 625px;
  width: 191px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #fdf7f1;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 67px;
  left: 835px;
  width: 191px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #fdf7f1;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 67px;
  left: 1056px;
  width: 191px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #fef8f2;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line-2 {
  top: 65px;
  left: 824px;
  height: 43px;
  position: absolute;
  width: 1px;
  object-fit: cover;
}

.frame .line-3 {
  top: 65px;
  left: 1048px;
  height: 43px;
  position: absolute;
  width: 1px;
  object-fit: cover;
}

.frame .header {
  position: absolute;
  top: 45px;
  left: 74px;
  width: 1920px;
  height: 114px;
  display: flex;
  gap: 37.9px;
  background-color: #f1d0b0;
}

.frame .image {
  margin-top: 17.6px;
  width: 75.93px;
  height: 77.01px;
  margin-left: 33.2px;
  aspect-ratio: 0.99;
}

.frame .group {
  margin-top: 36.1px;
  width: 908px;
  height: 41.51px;
  position: relative;
}

.frame .rectangle-3 {
  width: 887px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 300px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #aba9a9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .tipo {
  position: absolute;
  top: 0;
  left: 693px;
  width: 194px;
  height: 42px;
  background-color: #f77f00;
  border-radius: 0px 200px 200px 0px;
}

.frame .text-wrapper-8 {
  position: absolute;
  top: 5px;
  left: 728px;
  width: 176px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .svgrepo-bgcarrier {
  position: absolute;
  width: 4.19%;
  height: 5.44%;
  top: 3.00%;
  left: 90.90%;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.frame .svgrepo-iconcarrier {
  position: relative;
  width: 55.56%;
  height: 69.44%;
  top: 13.79%;
  left: 22.99%;
}

.frame .vector {
  position: absolute;
  width: 50.00%;
  height: 40.00%;
  top: 0;
  left: 25.00%;
}

.frame .vector-2 {
  position: absolute;
  width: 100%;
  height: 45.00%;
  top: 55.00%;
  left: 0;
}
/* Inject original CSS code here */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.frame .header .group {
  display: flex;
  align-items: center;
  position: relative;
}

.frame .header .group #search-input {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 300px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #aba9a9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
}

.frame .header .group #search-input::placeholder {
  color: #aba9a9;
}

.frame .header .group .tipo {
  position: absolute;
  top: 0;
  left: 693px;
  width: 194px;
  height: 42px;
  background-color: #f77f00;
  border-radius: 0px 200px 200px 0px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.frame .header .group .tipo:hover {
  background-color: #e67300;
}

.frame .header .group .tipo:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.frame .svgrepo-bgcarrier {
  border: none;
  background-color: transparent;
  background-image: url(./img/vector-2.svg);
  cursor: pointer;
  padding: 0;
}

.frame .svgrepo-bgcarrier:hover {
  opacity: 0.8;
}

.frame .svgrepo-bgcarrier:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.frame .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .nav .nav-list {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
}

.frame .nav .nav-list li {
  display: flex;
  align-items: center;
}

.frame .nav .nav-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 36px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #fdf7f1;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.frame .nav .nav-list a:hover {
  text-decoration: underline;
}

.frame .nav .nav-list a:focus {
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.frame .main-content {
  position: absolute;
  top: 280px;
  left: 100px;
  width: calc(100% - 200px);
}

.frame .recipe-article {
  position: relative;
}

.frame .recipe-header {
  position: relative;
  margin-bottom: 86px;
}

.frame .recipe-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.frame .recipe-details {
  position: absolute;
  top: 86px;
  left: 1190px;
  width: 756px;
}

.frame .ingredients-section {
  position: relative;
}

.frame .lorem-lorem-lorem {
  position: absolute;
  top: 182px;
  left: 1257px;
  width: 617px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.frame .lorem-lorem-lorem li {
  position: relative;
  padding-left: 17px;
  margin-bottom: 24px;
}

.frame .lorem-lorem-lorem li:last-child {
  margin-bottom: 0;
}

.frame .lorem-lorem-lorem li img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 7px;
}
