/* Container principal: Mantém tudo alinhado */
.user-menu-container {
    position: fixed;
    bottom: 55px;
    display: flex;
    align-items: center;
    width: fit-content; /* Ocupa apenas o espaço necessário */
    width: 100%;
    height: 60px;
}

/* --- O AVATAR (Gatilho) --- */
.avatar-wrapper {
    z-index: 10; /* IMPORTANTE: Maior que o menu para ficar por cima */
    cursor: pointer;
    transition: transform 0.2s;
    width: 60px;
    height: 60px;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- A GAVETA (Menu) --- */
.drawer-menu {
    position: absolute;
    right: 0; 
    top: 5px; 
    z-index: 2; 
    background-color: #f0dcc5; 
    border: 2px solid #ff914d; 
    border-radius: 12px;
    padding: 10px 30px 10px 50px; 
    min-width: 200px;
    opacity: 0; 
    transform: translateX(0); 
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    pointer-events: none;
    display: flex;
    justify-content: center;
}

/* O estado "Aberto" */
.drawer-menu.open {
    opacity: 1;
    transform: translateX(-50px); /* Empurra para a direita para sair de trás */
    padding-left: 40px; /* Ajuste visual */
    pointer-events: auto; /* Habilita cliques */
}

/* Estilização da lista interna */
.drawer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.drawer-menu li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ff914d; /* Cor do texto laranja */
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.drawer-menu li:hover {
    opacity: 0.7;
}

.icon {
    font-size: 1.1rem;
}

.sair {
    transform: rotate(45deg);
}

@media (min-width: 1024px) {
    .user-menu-container {
        position: relative;
        bottom: 0;
    }

    .drawer-menu {
        left: 0px;
    }

    .drawer-menu.open {
        transform: translateX(30px);
        padding: 10px 30px 10px 50px;
        width: 300px;
    }
}