.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--header-color);
    border: 1px solid var(--primary-color);
    justify-content: center;
    border-radius: 5px;
    position:fixed;
    bottom: 80px;
    right: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.211);
    height: 100px;
    z-index: 3;
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: var(--primary-color);
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
    background-color: var(--primary-hover-color);
}

.value:focus,
.value:active {
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

@media (min-width: 1024px) {
    .input {
        position: absolute;
        top: 73px;
        right: 10px;
    }
}